
/*
 hexcodes
#120323 header background color and name of animal
#97bf04 sidebar background color
#d9043d footer background color and image frame
*/



/*under 768 px phone*/

*{
    font-family: sans-serif;
}

header, aside, footer{
    flex-basis: 100%;
}

header{
    border: 5px solid rgb(157, 86, 228); /*remove later*/
    display: flex;
    align-items: center;
    background-color: #120323;
    color: #97bf04;
}

main{
    border: 5px solid rgb(0, 0, 182); /*remove later*/
    display: flex;
    background-color: white;
}

main img{
    border: 4px solid #9d043d;
}

aside{
    border: 5px solid rgb(34, 164, 199); /*remove later*/
    display: flex;
    flex-direction: column;
  
    align-items: flex-start;
   
    width: 100%;
    background-color: #97bf04;
}

footer{
    border: 5px solid rgb(213, 35, 35); /*remove later*/
    display: flex;
    justify-content: space-between;
    background-color: #9d043d;
    color: white;
    text-align: center;
}


/*769px to 999px small screen/tablet */
@media screen and (min-width:769px){
    body{
        background-color: palevioletred; /*remove later*/
    }
    
    header{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        
     
    }

    main figure img{
        border: 5px solid greenyellow;
        width: 300px;
        height: auto;
        flex-direction: column;
     
    }

    main figcaption{
        border: 3px solid fuchsia;
        flex-direction: column;
    }
    
    aside{
        padding: 1rem;
    }

    aside h3{
       /* border: 3px solid darkblue;remove later*/
        margin: 0;
    }

    aside p{
       /* border: 3px solid ghostwhite;remove later*/
    }

    footer{
        padding: 2rem;
        justify-content: space-between;
    }
}


/*over 1000px desktop*/
@media screen and (min-width:1000px){
    body{
        background-color: teal; /*remove later*/
    }
}

    
/*
@media screen and (min-width:1000px){
    body{
    background-color: rgb(105, 107, 253);
}
}


@media screen and (max-width:999px){

    header{
        color: #97bf04;
        background-color: #120323;
    }

    body{
        background-color: white;
        text-align: center;
    }

    figure{
        text-align: left;
    }

    main img{
        border: 4px solid #d9043d;
    }

    aside{
        background-color: #97bf04;
        text-align: left;
        padding: 1rem;
    }
    
    div{
        margin: 1rem;
    }

    footer{
        background-color: #d9043d;
        color: white;
        padding: 2rem;
    }
}


@media screen and (max-width:768px){

    header{
        color: #97bf04;
        background-color: #120323;
    }

    body{
        background-color: white;
        text-align: center;
    }

    figure{
        text-align: left;
    }

    main img{
        border: 4px solid red;
    }

    aside{
        background-color: #97bf04;
        text-align: left;
    }
    
    div{
        margin: 1rem;
    }

    footer{
        background-color: #d9043d;
        color: white;
    }
}
*/

